.ars {   
    background: url('https://ssl.gstatic.com/gb/images/i1_1967ca6a.png');
    background-position: -132px -38px;
    width: 39px;
    height: 30px;
    

}
html, 
body {
    height: 100%;
    box-sizing: border-box;
}

.wrapper {
    height: 100%;
    display:flex;
    flex-direction: column;
    align-content: center;
}

header nav {
    display:flex;
    justify-content: right;
    margin-right: 20px;
    margin-top: 10px;
}
header nav > * {
    margin: 5px;
}
header nav a {
    color: rgba(0,0,0,0.87);
    align-self: center;
    font-size: 0.8em;
}

#profile {
    border-radius: 50px;
}
a {
    text-decoration: none;
}
#country-name,.footer-nav-left a, .footer-nav-right a {
       
   color: #5f6368;

}

.main {
   
    align-self: center;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    

}

.main img {
    width: 300px;
    align-self: center;
    margin-bottom: 20px;
}
input {
    position: relative;
   
}
svg {
    position: absolute;
    margin-top:  90px;
    margin-right: 425px;   
    width: 50px;
    height:50px;
    
    
}
path {
    background-color: #9AA0A6;

    
}

input[type="text"] {
    width: 500px;
    height: 40px;
    border-radius: 24px;
    border: 2px solid #dfe1e5;
    padding-left: 20px;
    

}
input[type="submit"] {
    background: #F2F2F2;
    border:none;
    width: 130px;
    height: 40px;
    margin: 0 5px;
    border-radius: 5px;
    border: 1px solid #f2f2f2;
    background-image: -moz-linear-gradient(top,#f5f5f5,#f1f1f1);
    
    
}
.buttons {
    margin-top: 20px;
    display:flex;
    justify-content: center;
}
.gray {
    color: #5F6368;
}
footer {
    background: #f2f2f2;
}
.footer-nav {
    display: flex;
    padding: 20px;
    border-top:1px solid #e4e4e4;
    font-size: 0.9em;

}
.footer-nav-left {
    flex-grow: 1;
    align-self: center;
    margin-top: 20px;
}
.footer-nav-right {
    margin-top: 20px;
}
.footer-nav-right a, .footer-nav-left a {
    display:inline-block;
    margin: 5px 5px 5px 0;
    
}
#country-name {
    display: flex;
    padding-left: 20px;
    position:relative;
    top: 20px;
}